body {
    font-family: IRANSans;
    font-size: 12px;
}

.table thead tr th , .table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.btn {
    font-size: 13px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 11px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 11px;
  }

  #nprogress .bar {
    background: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}

.section {
  margin: 20px 0;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 206, 206);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}

.loading-spin {
  -webkit-animation: sk-scaleout 0.3s infinite ease-in-out;
  animation: sk-scaleout 0.3s infinite ease-in-out;
  background-color: #fff;
  border-radius: 100%;
  height: 6em;
  width: 6em;
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
    transform: scale(1.0);
  }
}

.Toastify__toast-body {
  font-family: IRANSans;
}

.Toastify__close-button {
  position: relative;
  top: 12px;
}

.nav-link {
  cursor: pointer;
}

.navbar-collapse {
  border-top: 0;
  box-shadow: none !important;
}

@media (min-width: 768px){
  .navbar {
       border-radius: 0px;
  }
}

.navbar {
  justify-content: end;
}