body {
    font-family: IRANSans;
    font-size: 12px;
}

.table thead tr th , .table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.btn {
    font-size: 13px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 11px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 11px;
  }

  #nprogress .bar {
    background: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}